@page
@using Core.Enum
@using Portfolio.Classes
@model Portfolio.Pages.Forms.SkillsModel
@{
}

<div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-12 col-12">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <h5 class="mb-3">information </h5> 
                            <input type="hidden" asp-for="@Model.Skill.Id" />
                            <div class="row mb-4">
                                <div class="col-lg-12 col-md-12 col-12 mb-2">
                                    <label asp-for="Skill.Title">Title : </label>
                                    <input type="text" asp-for="Skill.Title" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Skill.Title" class="text-danger"></span>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-6 mb-2">
                                    <label asp-for="Skill.Index">Index : </label>
                                    <input asp-for="Skill.Index" class="form-control" autocomplete="off" />
                                    <span asp-validation-for="Skill.Index" class="text-danger"></span>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6 mb-2">
                                    <label asp-for="Skill.Offer">Offer : </label>
                                    <input type="checkbox" asp-for="Skill.Offer" class="form-check" autocomplete="off" />
                                    <span asp-validation-for="Skill.Offer" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 mb-2">
                                    <label asp-for="Skill.Image">Image : </label>
                                    <input type="file" name="ImgUp" id="ImgUp" class="form-control mb-2" />
                                    <span asp-validation-for="Skill.Image" class="text-danger"></span>
                                    @if (!string.IsNullOrEmpty(Model.Skill?.Image))
                                    {
                                        <img id="imgPreview" src="@ImgPath.Images@Model.Skill.Image" style="max-width: 120px" class="img-thumbnail" alt="You have not selected a photo yet" />
                                    }
                                </div>
                            </div>
                            <div class="row mb-1 mt-3 justify-content-end">
                                <div class="col-lg-2 col-md-4 col-4 mt-auto">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-primary" type="submit" title="Save"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>
                                    Index
                                </th> 
                                <th>
                                    Title
                                </th>  
                                <th>
                                    Offer
                                </th>
                                <th>
                                    Image
                                </th>
                                <th> 
                                </th>
                            </tr>
                            @foreach (var item in Model.Skills)
                            {
                                <tr>
                                    <td>@item.Index</td>
                                    <td>@item.Title</td> 
                                    <td>@item.Offer</td> 
                                    <td><img src="@ImgPath.Images@item.Image" width="64"/></td>
                                    <td><a class="btn btn-sm btn-secondary" href="./Skills?id=@item.Id">Edit</a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts { 
    <partial name="_ValidationScriptsPartial" />
}