@using Portfolio.Classes
@{
    var year = DateTime.Now.Year - 2017;
}
<section class="about">
    <div class="row">
        <div class="col-12">
            <h2>
                About Me
            </h2>
        </div>
        <div class="col-12 col-lg-4 col-md-12 about-img">
            <img src="/images/about-picture.png" />
        </div>
        <div class="col-12 col-xl-6 col-lg-8 col-md-12">
            <p>
                With over @year years of experience in software development,
                my journey started as a web developer and quickly evolved
                into full-stack development through hands-on projects,
                persistence, and a strong passion for building real products.
                I have worked on a wide range of software systems, turning complex business needs and ideas into scalable,
                production-ready solutions. Today, I contribute to projects as a Technical Lead and Product Technical Manager,
                where I not only focus on architecture and
                delivery but also enjoy mentoring junior developers and helping teams
                grow by sharing practical experience and real-world knowledge.
            </p>
            <div class="row justify-content-center info">
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-4 label">Email: </div>
                        <div class="col-8 value">
                            <a href="@StaticValue.EmailTo">
                                @StaticValue.Email
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 label">Location: </div>
                        <div class="col-8 value">Tehran, Iran</div>
                    </div>
                    <div class="row">
                        <div class="col-4 label">Phone:</div>
                        <div class="col-8 value">
                            <a href="@StaticValue.TelTo">
                                @StaticValue.Tel
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-4">
                    <div class="row">
                        <div class="col-lg-6 col-4 label">Age: </div>
                        <div class="col-lg-6 col-8 value">@(DateTime.Now.Year - 1993)</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-4 label">Education: </div>
                        <div class="col-lg-6 col-8 value">IAU</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-4 label">Degree:</div>
                        <div class="col-lg-6 col-8 value">Bachelor</div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="row justify-content-center counters">
        <div class="col-10 col-xl-8 col-lg-10 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-4 text-center">
                            <p class="count">
                                @(year)+
                            </p>
                            <p class="text">
                                Years of experience
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 text-center">
                            <p class="count">
                                45+
                            </p>
                            <p class="text">
                                Completed projects
                            </p>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 text-center">
                            <p class="count">
                                25+
                            </p>
                            <p class="text">
                                Satisfied clients
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
