@using Portfolio.Classes
@model List<Core.Models.Experience>
<section class="experience">
    <div class="row justify-content-lg-center">
        <h2>
            Experience
        </h2> 
        <div class="col-12 col-lg-10">
            <div class="row justify-content-center experience-cards">
                @foreach(var item in Model)
                {
                    <div class="col-12 col-lg-6">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="head-section">
                                    <img src="@ImgPath.Images@item.Image" alt="@item.Title.AltBuilder()"/>
                                    <div class="head-text">
                                        <h3>@item.Title</h3>
                                        <p>
                                            @item.Company / @item.DateStart-@item.DateEnd / @item.JobStyle
                                        </p>
                                    </div>
                                </div>
                                <div class="text">
                                    @Html.Raw(item.Text)
                                    @if (!string.IsNullOrEmpty(item.Url))
                                    {
                                        <br/>
                                        <br/>
                                        <a href="@item.Url" target="_blank">@item.Url</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> 
</section>
