@using Portfolio.Classes
@model List<Core.Models.Experience>
<section class="latest-projects">
    <div class="row justify-content-lg-center">
        <div class="col-12">
            <h2>
                Latest Projects
            </h2>
        </div>
        <div class="col-12 col-lg-12 col-xl-10">
            <div class="row justify-content-center latest-projects-cards">
                @foreach (var item in Model)
                {
                    var tags = item.Tags?.Split(",");
                    <div class="col-12 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="head-section">
                                    <img src="@ImgPath.Images@item.Image" alt="@item.Title.AltBuilder()" />
                                    <div class="head-text">
                                        <h3>@item.Title</h3>
                                    </div>
                                </div>
                                <div class="text">
                                    @Html.Raw(item.Text)
                                </div>
                                <div class="tags">
                                    @if (tags != null)
                                    {
                                        foreach (var tag in tags)
                                        {
                                            <div>
                                                @tag
                                            </div>
                                        }
                                    }
                                </div>
                                @if (!string.IsNullOrEmpty(item.Url))
                                {
                                    <div> 
                                        <br/>
                                        <a href="@item.Url" target="_blank">@item.Url</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
